<!--
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<app-footer></app-footer>
 -->

<!-- Jumbotron -->

<app-header></app-header>


<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('../assets/iset.jpg');
    height: 100vh;
  "
>
<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
</div>
<!-- Background image -->

  <app-footer></app-footer>


<!-- Jumbotron -->
